*
{
    padding: 0;
    box-sizing: border-box;
}

.navbar
{
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 
{
    color: darkblue;
    text-shadow: 2px 4px 15px rgb(169, 169, 250)
}

nav 
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

nav a{
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: aliceblue;
    transition: background-color 0.3 ease;
}

nav a:hover 
{
    background-color: rgb(127, 127, 250);
}


nav a:visited
{
    color: brown;
}

nav a:active
{
    background-color: aliceblue;
    color: blue;
}

.news-paper
{
    background-color: azure;
    margin: 10px;
    padding: 20px;

}

.container
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
       "header header"
       "aside main"
       "footer footer";
}

.container header {
    grid-area: header;
    text-align: center;
     border: 2px solid black;
}

.container aside
{
    grid-area:aside;
    border: 2px solid black;
    text-align: center;
    
}

.container main 
{

    grid-area: main;
    margin: 10px;
     border: 2px solid black;
}

.container footer 
{
    grid-area: footer;
    text-align: center;
     border: 2px solid black;
}

.media
{
    padding: 20px;
    margin:10px;
}

#images  img
{
    display: block;
    padding: 20px;
    margin: 20px;
}


th,td
{
    padding: 20px;
}

.links 
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: aquamarine;
   margin: 10px;
}

.links a 
{
    padding: 10px;
    text-decoration: none;

}

.lists
{
    background-color: gainsboro;
}

ol >li 
{
    background-color: antiquewhite;
    margin: 10px;
    list-style-type: lower-latin;
    list-style-position: inside;
    text-align: center;
    padding:10px;
}

ul>li{
    background-color: lavender;
    list-style-type: square;
    list-style-position: inside;
    padding: 10px;
    text-align: center;
}

.forms
{
    max-width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms form 
{
    margin-bottom: 20px;
    background-color: bisque;
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    
}
.forms label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.forms input {
  width: 100%;
  padding:10px;
  border: 1px solid #bbb;
  border-radius: 4px;

}

.forms button
{
    width:80%;
    background-color: rgb(83, 46, 1);
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}



.keyboard
{
    min-width: 200px;
    min-height: 200px;
    padding: 15px;
    margin: 10px 15px;
    background-color: #bbb;
    
}

#keyboardvalue
{
    padding: 10px;
    margin: 10px auto;
     align-items: center;
     display: block;
}

.keyboard #output
{
    padding: 10px;
    margin: 10px auto;
     align-items: center;
     display: block;
     background-color: rgb(134, 134, 240);
     color: aliceblue;
     width: 20%;
     text-align: center;
}

.mouse
{
    min-width: 300px;
     min-height: 300px;
     background-color: lightskyblue;
     margin-top: 10px;
}

#mouseEvent
{
    background-color: aliceblue;
    color: black;
    height: 200px;
    width: 400px;
}

#m-output
{
    text-align: center;
    padding: 10px;
}

.draganddrop
{
    background-color: khaki;
    margin: 20px;
    padding: 10px;
    width:300px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#draginput
{
    padding: 10px;
    border: 2px solid rgb(236, 17, 17);
    margin: 10px;
    background-color: rgb(221, 107, 78);
    color:white
}

#dropoutput
{
    padding: 10px;
    border: 3px solid green;
    min-width:100px;
    background-color:rgb(160, 236, 160);
    color: aliceblue;
    margin: 10px;
}


.viewevents
{
    background-color: mediumslateblue;
    margin: 15px;
    padding: 10px;
    width: 800px;
    height:600px;
}

#view
{
    
    line-height: 32px;
    margin: 15px auto;
    align-items: center;

}

.storage
{
    background-color: rgb(210, 248, 210);
     margin: 10px;
    max-width:650px;
    min-height: 250px;
    
}
.storage input{
    padding: 10px;
    display: block;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(0,0,0.6) ;
}

.storage button 
{
    padding: 10px;
    margin: 10px;
    width:200px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(0,0,0.6) ;
    background-color: lightslategray;
    cursor: pointer;

}

.cookies
{
    background-color: bisque;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

}

.cookies button
{
    padding: 10px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.histroy
{
    background-color: wheat;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
}

.histroy button
{
    display:block;
    width: 120px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.histroy input
{
   width: 120px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.server
{
    background-color: rgb(202, 252, 252);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

.web-socket
{
    background-color: rgb(151, 173, 233);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    text-align: center;
}

#send
{
    width: 250px;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    
}

#send-button
{

    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}
